[Desktop Entry]
Type=Application
Name=QArv Video Player
Icon=application-x-qarv
TryExec=qarv_videoplayer
Exec=qarv_videoplayer %f
Terminal=false
Categories=Video;AudioVideo;
Comment=A player for raw videos recorded using QArv
Comment[sl]=Predvajalnik za surove videe, posnete s QArv
GenericName=QArv video player
GenericName[sl]=QArv video predvajalnik
MimeType=application/x-qarv;
